<div class="container-fluid">
    <div class="header-container">
        <h4 style="font-size: 1.4rem; font-weight: 550;">{{title}}</h4>
        <div class="new-hook">
          <a href="/newwebhook"> <button class="btn"><i class="bi bi-plus-lg" id="icon"></i>New Webhook</button></a>
        </div>
    </div>
    <div class="mid">
        <p><b>Webhooks are event notifications sent to URLs of your choice. Use these to receive real time shipment updates in your system.</b></p>
    </div>
    <div class="table-container">
        <div class="table-responsive">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>URL</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4" class="text-center">No Records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>