h5,.header{
    padding: 10px;
    background-color: #ddd;
    font-size: 1.3rem;
    font-weight: 500;
}
.card{
    margin-top: 10px;
}
input[type="text"],textarea,select{
    display: block;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ddd;
    padding: 7px;
    width: 100%;
    margin: 10px 0;
}
input[type="checkbox"] {
    display: inline;
    margin: 0 4px;
}
a{
    margin-left: 4px;
}
form{
    margin: 10px 0 20px 0;
}

  @media (max-width:500px) {
    .table {
        overflow: auto;
      }
  }
  
  
  