.card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 5px 12px;
  flex-wrap: wrap;
}
.group{
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  position: relative;
}
.dropdown{
  position: absolute;
  left: 150px;
  top: 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0px #999;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
}
ul{
  list-style: none;
  width: 300px;
}
a{
  text-decoration: none;
  color: #000;
}
li{
  display: inline-block;
  text-align: center;
  padding: 5px;
 
  
}
table{
  table-layout: auto;
}
th{
  font-size: 14px;
  color: rgb(14, 44, 174);
}
td{
  font-size: 14px;
  padding: 25px 5px;
  color: #000;
  font-weight: 500;
}
.btn {
  border-radius: 0;
}
.btns{
  border-radius: 5px 0 0 5px;
}
.btnl{
  border-radius: 0 5px 5px 0;
}
.btn-sm{

  border-radius: 4px;
  padding: 2px 12px;
  border: 1px solid #999;
  font-size: 17px;
}
/* #drop::after {
  content: '';
  border-right: 15px solid #000;
  border-top: 15px solid #000;
  border-bottom: 0;
  display: inline-block;
  margin-left: 5px;
  transition: transform 0.3s ease; 
}

#drop.active::after {
  transform: rotate(180deg);
} */
