<div class="container-fluid">
    <form action="">
     <div class="row">
         <div class="col-lg-12">
             <div class="card">
                  <h5>Order Information create</h5>
                  <div class="card-body">
                     <div class="row">
                         <div class="form-group col-lg-3">
                             <label>Order ID</label>
                             <input type="text" required=""   placeholder="Order Id" value="1703483912">
                         </div>
                         <div class="form-group col-lg-3">
                             <label>Order Type</label>
                             <select id="paymenttype" required="" >
                                 <option value="COD">Cash on Delivery</option>
                                 <option value="prepaid">Prepaid</option>
                             </select>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-lg-6">
             <div class="card ">
                     <h5>
                         Shipping Information
                     </h5>
                 <div class="card-body ">
                 <div class="row">
                         <div class="form-group col-sm-6">
                         <label>First Name</label>
                         <input type="text"   placeholder="First Name" value="">
                         </div>
                         <div class="form-group col-sm-6">
                             <label>Last name</label>
                             <input type="text"   placeholder="Last Name" value="">
                         </div>
                     </div>
                   
                    <div class="form-group">
                         <label>Company Name</label>
                         <input type="text"   placeholder="Company Name" value="">
                    </div>  
                    <br> 
                     <div class="row">
                         <div class="form-group col-sm-6">
                             <label>Address</label>
                             <textarea   placeholder="Shipping Address"></textarea>
                         </div>
                         <div class="form-group col-sm-6">
                             <label>Address 2 (Optional)</label>
                             <textarea   placeholder="Address 2"></textarea>
                         </div>
                     </div>
                    
                     <div class="row">
                         <div class="form-group col-sm-12">
                             <label>Pin Code</label>
                             <input type="text"   placeholder="Pin Code" value="">
                         </div>
                     </div>
                     <div class="row">
                         <div class="form-group col-sm-6">
                             <label>City</label>
                             <input type="text"  placeholder="City" value="">
                         </div>
                         <div class="form-group col-sm-6">
                             <label>State</label>
                             <input type="text"  placeholder="State" value="">
                         </div>
                     </div>
                     
                     <div class="row">
                         <div class="form-group col-sm-12">
                             <label>Phone</label>
                             <input type="text"  placeholder="Phone" value="">
                         </div>
                     </div> 
                 </div>
             </div>
         </div>
         <div class="col-lg-6">
             <div class="card">
                 <div class="header">
                     <h5 >
                         Billing Information
                     </h5>
                     <br>
                     <input type="checkbox" >
                     <em>Check this box if Shipping and Billing Information are the same.</em>
                 </div>
                 <div class="card-body ">
                     <div class="row">
                         <div class="form-group col-sm-6">
                             <label>First Name</label>
                             <input type="text"   placeholder="First Name" value="">
                         </div>
                         <div class="form-group col-sm-6">
                             <label>Last name</label>
                             <input type="text"   placeholder="Last Name" value="">
                         </div>
                     </div>
                     <div class="form-group">
                         <label>Company Name</label>
                         <input type="text"   placeholder="Company Name" value="">
                    </div>  
                    <div class="row">
                         <div class="form-group col-sm-6">
                             <label>Address</label>
                             <textarea   placeholder="Shipping Address"></textarea>
                         </div>
                         <div class="form-group col-sm-6">
                             <label>Address 2 (Optional)</label>
                             <textarea   placeholder="Address 2"></textarea>
                         </div>
                     </div>
                     <div class="row">
                         <div class="form-group col-sm-12">
                             <label>Pin Code</label>
                             <input type="text"   placeholder="Pin Code" value="">
                         </div>
                     </div>
                     <div class="row">
                         <div class="form-group col-sm-6">
                             <label>City</label>
                             <input type="text"   placeholder="City" value="">
                         </div>
                         <div class="form-group col-sm-6">
                             <label>State</label>
                             <input type="text"   placeholder="State" value="">
                         </div>
                     </div>
                     <div class="row">
                         <div class="form-group col-sm-12">
                             <label>Phone</label>
                             <input type="text"   placeholder="Phone" value="">
                         </div>
                     </div>
                     <div class="row">
                         <div class="form-group col-sm-12">
                             <label>GST Number</label>
                             <input type="text"   placeholder="GST Number" value="">
                         </div>
                     </div>
                     <button type="submit"  class="btn btn-primary">Save</button>
                     <a href="#"  class="btn btn-danger">Cancel</a>
                 </div>
             </div>
         </div>
     </div>
     
    </form>
 </div>