<div class="secure">
    <div class="secure-1">
        <h1><i class="bi bi-person-fill"></i>Secure Shipment</h1>
    </div>
</div>
<h2>Secure shipment is a service that protects shippers against lost, stolen, or damaged packages.</h2>
<h4><p>If an insured package does not reach its destination, or if it is damaged when it's delivered,<br>
    then the shipper is reimbursed the declared value of the items in the package.<br>
    Secure shipment service charges will be 0.49% (plus GST) of the invoice value.</p></h4>
<h2>Do you want to Secure your Shipment?</h2>
<button>Enable Secure Shipment</button>  
<h3><p>Term & Condition for secure shipment Documentation :<a href="button">Click Here</a></p></h3>