.secure{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #f4f4f4;
    padding: 20px;
    
}
h2,h4,button{
   margin: 20px;
}
h3{
    margin:0 40px;
}


button{
    width: 220px;
    height: 35px;
    border-radius: 6px;
    border: none;
    background-color: #19b5fe;
    color: white;
    font-size: medium;
}
button:hover{
   
   background-color: #08affc ;
}

a{
    color: #19b5fe;
    font-size: large;
    text-decoration-line: none;
    margin: 5px     ;
}

