<div class="header">
    <p>Have a query?</p>
</div>
<div class="container-fluid">
    
    <div class="container-box">
        <div class="body">
        
            <p>For Urgent Support (24x7) Connect us at <strong> 7290030101</strong> | Email : <a routerLink="mailto:care@nimbuspost.com">care@nimbuspost.com</a></p>
            <i class="bi bi-question-square-fill" id="qusMark"></i>
        
    </div>
    <div class="container-head" style="text-align: center;">
        <p>Select Escalation Type</p>
    </div>
    <div class="card-container">
       
       <a routerLink="/shipment-queries">
        <div class="cards card-1">
            <div class="top-right"></div>
            <h2>Shipment related queries</h2>
            <p>Escalate here</p>
        </div>
       </a>
       
       <a routerLink="/pickup-queries">
        <div class="cards card-2">
            <div class="top-right"></div>
            <h2>Pickup related queries</h2>
            <p>Escalate here</p>
        </div>
       </a>
        <div class="cards card-3">
            <div class="top-right"></div>
            <h2>Billing & Remittance </h2>
            <p>Escalate here</p>
        </div>
       <a routerLink="/weight-reconcillation">
        <div class="cards card-4">
            <div class="top-right"></div>
            <h2>Weight related queries</h2>
            <p>Escalate here</p>
        </div>
       </a>
        <div class="cards card-5">
            <div class="top-right"></div>
            <h2>Tech related queries</h2>
            <p>Escalate here</p>
        </div>
        <a routerLink="/training">
            <div class="cards card-6">
                <div class="top-right"></div>
                <h2>Dashboard training</h2>
                <p>Schedule it here</p>
            </div>
        </a>
        <div class="cards card-7">
            <div class="top-right"></div>
            <h2> <i class="bi bi-telephone-inbound-fill" style="padding-right: 15px; font-size: 26px;"></i>Request a Call</h2>
            <form action="">
               <div class="info">
                <div class="input-field">
                    <label for="Mobile">Your Mobile No.</label>
                    <input type="number" value="9868286254" id="Mobile">
                </div>
                <div class="input-field">
                    <label for="Query">Query Related To:</label>
                    <select name="" id="Query">
                        <option value="">select</option>
                        <option value="">Shipment</option>
                        <option value="">Pickup</option>
                        <option value="">Billing & Remittance</option>
                        <option value="">Weight</option>
                        <option value="">Tech</option>
                        <option value="">Others</option>
                    </select>
                </div>
               </div>
               <div class="feedback">
                <label for="comments">Add your message</label>
                 <textarea name="address" id="comments" cols="50" rows="4" >Add here</textarea>
               </div>
              <div class="button" style="text-align: end;">
                <button class="btn">Submit</button>
              </div>
            </form>
        </div>
    </div>
    </div>
    
</div>