<ul type="square">
    <h1><li>Order Allocation Engine
    </li> </h1></ul>
<div class="rule">
        <button type="Shipping Rules" class="rule1" >Shipping Rules</button>
        <button type="Rule Testing" class="rule1" >Rule Testing</button>
    </div>
    <br>
<h4>Enter details for rule testing
</h4>
<br>
<div class="rul">
      <div class="rule2" >
    <label for="Order ID:">Order ID:</label> <br>
   <input type="text" value="" class="rul1" >
</div>
   <div class="rule2">
   <label for="pickup Warehouse:">Pickup Warehouse:</label> <br>
   <select type="text" id="pickup Warehouse" value="pickup Warehouse" class="rul2">
    <option value="select Warehouse"> select Warehouse</option>
    <option value="mahammad ibrahim"> mahammad ibrahim</option>
    <option value="asuthosh pandav">asuthosh pandav</option>
    <option value="Burhan Wani">Burhan Wani</option>
    <option value="sahil">sahil</option>
    <option value="Priyanka bansal">Priyanka bansal</option>
    <option value="Karan Mitra">Karan Mitra</option>
    <option value="Vinod Kumar vadde">Vinod Kumar vadde</option>
    <option value="Gauran jai">Gauran ja</option>
    <option value="sanyam saini">sanyam saini</option>
    <option value="Shivam Tyangi">Shivam Tyangi</option>
    <option value="Chaitanya Tyagi">Chaitanya Tyagi</option>
    <option value="Shekhar joshi">Shekhar joshi</option>
    <option value="amith bhardwaj">amith bhardwaj</option>
    <option value="joshn Basha">joshn Basha</option>
    <option value="Baani square">Baani square</option></select>
    </div>
</div>
<br>
<button type="make test" class="btn" >make test</button>


