
a{
    text-decoration: none;
    color: #000;
}
.cards{
   background-color: #fff;
    width: 280px;
    height: 220px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px #999;
}
img{
    margin-top: 10px;
}
.card-container h4 {
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 10px;
}


.card-container p {
    font-size: 16px;
    color: #999;
    margin-bottom: 15px;
}
.card-container img {
   
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}