*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Work Sans",sans-serif;
    color: #2E384D;
}
.main-container{
    display: flex;
    
}
.head-top>label{
 width: 100%;
 display: inline-block;
 margin: 10px 0;
}
.head-top>input{
    border-radius: 6px;
    height: 30px;
    padding: 10px;
    outline: none;
    border: 1px solid #555;
}
.container-head{
   display: flex;
   gap: 30px;
   margin: 10px;
   padding: 10px 0;
}
.check-container{
    display: grid;
  grid-template-columns: repeat(5, 1fr); /* Three columns of equal width */
  gap: 10px; 
  border-bottom: 1px solid #f4f4f4;
  padding: 20px 10px;
  margin-bottom: 15px;
}
input{
    margin-right: 10px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.btn{
    color: #fff;
    font-size: 18px;
    padding: 12px 18px;
    background: #00cc99;
    border: none;
    border-radius: 7px;
    font-weight: 550;
}
@media (max-width:800px) {
    .check-container{
        grid-template-columns: repeat(3, 1fr);

    }
}