
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="IVR madules"><p>IVR Call Charges Applied (~60 Paise/Minute)</p>
                <br>
                <div class="auto">
                    <label for="IVR for Orders">IVR for Orders</label> <br>
                            <select type="disable"  class="auto1" >
                                <option value="disable"> disable</option>
                        <option value="Enable">Enable </option></select></div>
                        <br>
                        <div class="NDR">
                        <label for="IVR for NDR">IVR for  </label> <br>
                            <select type="disable"  class="auto1" >
                                <option value="disable"> disable</option>
                        <option value="Enable">Enable </option></select></div>
                        <br>
                        <div class="Abandoned">
                        <label for="IVR for Abandoned">IVR for  Abandoned </label> <br>
                            <select type="disable"  class="auto1" >
                                <option value="disable"> disable</option>
                        <option value="Enable">Enable </option></select>
                </div></mat-tab>
        <mat-tab label="IVR settings"><app-ivrs></app-ivrs></mat-tab>
        
</mat-tab-group>
