
<h1 mat-dialog-title>payments</h1>

<mat-card class="example-card">

  <img mat-card-image src="https://imgs.search.brave.com/pUYCL8YqQ3QXI-Zn4wBzQ9qTqh_fsOslMTZc-VQ62sk/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9naXZl/d3AuY29tL3dwLWNv/bnRlbnQvdXBsb2Fk/cy8yMDIwLzAzL1Jh/em9ycGF5LmpwZw" alt="Photo of a Shiba Inu">
 

</mat-card>
<br>
<button mat-stroked-button color="primary" style="width: 100px;">1000</button>
<button mat-stroked-button color="accent"style="width: 100px;">2000</button>
<button mat-stroked-button color="warn"style="width: 100px;">500</button><br>
<button mat-raised-button color="accent">Pay now</button>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>