
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  border-radius: 24px;

 

 


}


.sidenav .mat-toolbar {
  background: inherit;
  z-index: 100;
 

//   background: black;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  z-index: 1;
//   -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
//   backdrop-filter: blur(8px); /* Chrome and Opera */
//   box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
//   background-color: rgb(228 228 228 / 15%);
//   color: white;
}
.example-header-image {

  background-image: url('https://imgs.search.brave.com/1JvBB2ncKIUu6Eb3BLQTpuDkYQu2HxFei3ZBamZH1-c/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9kMzJx/eXM5YTZ3bTluby5j/bG91ZGZyb250Lm5l/dC9pbWFnZXMvbW92/aWVzL2JhY2tkcm9w/LzM3LzNhNjM0MzBm/NzE5MDc3MDI2NzUx/YjU4Yzc5NTAxOGI4/XzEyODB4NzIwLmpw/Zz90PTE2NjIzNzUz/MjA');
  background-size: cover;
}

.nav{
  padding: 10px;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
margin: 10px;
  color: black;
//   color: white;
}
.mat-card-title{
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
}
#toggle::after {
	content: '';
	display: block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid #999; /* Adjust the color and size as needed */
	right: 60px;
	position: absolute;
	
  }
  
a{
  display: flex;
  align-items: center;
}
.icon{
  width: 20px;
  height: 20px;
//   color: rgb(0, 157, 255);
  margin-top: 0px;
}
.dropdown{
	position: relative;
}

/* Hide the dropdown content by default */
.dropdown .dropdown-content {
  
 
   background-color: transparent;
   min-width: 80px;
   z-index: 1;
   width: 200px;
   position: relative;
   left: 30px;
   transition: height 0.5s ease-in-out;
 }
 .dropdown-content.show {
	height: auto; /* Auto height when shown */
	opacity: 1;
  }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
 mat-list-item:hover{
   background: transparent;
 }
 li{
  list-style: none;
 }
 
 /* Style the dropdown links */
 .dropdown .dropdown-content a {

   text-decoration: none;
   display: block;
 }
 a{
  text-decoration: none;
    // color: white;
  padding: 6px 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
 }


 
 .example-form{
  padding: 2%;
 }
 

 section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.example-spacer {
	flex: 1 0 0;
  }
  

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
.main-body{
  margin-top: 80px;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
.icon{
  font-size: 20px;
  margin-right: 10px;
}
@media screen and (max-width:400px){
	.container{
       display: none;
	}
}
::ng-deep .mat-menu{
	width: 200px !important;
}
