<div class="channel">
  <div class="chaneelist">
      <ul style="list-style-type:square;">
         <img src="" alt=""> <li> <h2>Warehouse List</h2></li>
        </ul>
  </div>
  <div class="channelist-1">
     <a href="" class="ah"><p>+ New Warehouse</p></a>
  </div>
</div>
<div class="tab">
<div class="tabs">
  <table id="customers">
      <tr>
          <th>WAREHOUSE NAME</th>
          <th>CONTACT PERSON</th>
         <th> WAREHOUSE DETAILS</th>
         <th>ACTION</th>
      </tr>
      <tr>
          <td>Asutosh Pandav</td>
          <td>Asutosh Pandav <br>
              7701832011</td>
          <td>Flat no 703 , Tower -19 , Royal Heritage Society,IMT Faridabad, Sector – 70 <br>
              Faridabad, Haryana <br>
              India - 121004 <br>
              GST No:</td>
          <td></td>
      </tr>
      <tr>
          <td>Burhan Wani</td>
          <td>Burhan Wani <br>
              9873033913</td>
          <td>E-39 Tenth Floor Pocket 9A, Jasola Heights, Jasola, <br>
              Landmark: Jasola Vihar Shaheen Bagh Metro Station. <br>
              New Delhi, Delhi <br>
              India - 110025 <br>
              GST No:</td>
          <td></td>
      </tr>
      <tr>
          <td>Sahil</td>
          <td>Sahil <br>
              8265964738</td>
          <td>H.No-7, advocate colony, Kaimiri Road, <br>
              Hisar, Haryana <br>
              India - 125001 <br>
              GST No:</td>
          <td></td>
      </tr>
      <tr>
          <td>PRIYANKA BANSAL</td>
          <td>PRIYANKA BANSAL <br>
              9654885286</td>
          <td>HOUSE NO. 321, MORTA VILLAGE, NEAR GOVERNMENT SCHOOL, MEERUT ROAD DIST. GHAZIABAD <br>
              MORTA VILLAGE, Uttar Pradesh <br>
              India - 201003 <br>
              GST No:</td>
          <td></td>
      </tr>
  </table>
</div>
</div>