
<form action=""[formGroup]="resetPasswordForm">
   <div class="container-fluid">
    <div class="card">
      <div class="card-content">
        <h1 class="fs-1">Reset Your Password</h1>
        <p>Strong passwords include numbers, letters, and punctuation marks.</p> 
          <div>
            <div class="new">
            <label for="password">Enter New Password</label>
            <input type="{{ hide ? 'password' : 'text' }}" id="newpassword" placeholder="Enter Your New Password" name="Password"  formControlName="newpassword"/>
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="hide ? 'Show password' : 'Hide password'" [attr.aria-pressed]="hide" class="toggle"> 
              <!-- <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon> -->
            </button> 
          </div>
          <div class="new">
            <label for="password">Confirm New Password</label>
            <input type="{{ hide ? 'password' : 'text' }}" id="confirmPassword" placeholder="Enter Your Confirm New Password"  name="Password"  formControlName="confirmpassword"/>
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="hide ? 'Show password' : 'Hide password'" [attr.aria-pressed]="hide" class="toggle-1"> 
              <!-- <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon> -->
           </button>

          </div>
          </div>
      
        <button class="btn" type="submit" id="resetPasswordBtn" (click)="onSubmit()">Reset Password</button>
        <p>To make sure your account is secure, you'll be logged out from the other devices once you set the new password.</p>
    </div> 

  </div>
   </div>
</form>
  

  