.container-table{
    width: 100%;
    float: right;
}
.container-btn{
    float: right;
    width: 400px;
}
.sidenav{
    width: 250px;
    z-index: 2;
    background-color: #AED6F1;
    font-family: 'Poppins', sans-serif;
    color: white;
   }
   .nav{
     font-family: 'Poppins', sans-serif;
     color: white;
     font-size: 20px;
     width: 200px;
   }
   .create{
    width: 120px;
   }
 