<div class="box">
    <div class="box1 ">
        <img src="https://ship.nimbuspost.com/assets/channel_icons/shopify.jpg" alt="" height="100px">
        <h1>Shopify</h1>
            <button type="integrate" class="btn">integrate</button>  
    </div>
    <div class="box1 ">
         
         <img src="https://ship.nimbuspost.com/assets/channel_icons/woocommerce.png" alt=""height="100px">
        <h1>Woocommerce</h1>
            <button type="integrate" class="btn">integrate</button>
    </div>
    <div class="box1 ">
        <img src="https://ship.nimbuspost.com/assets/channel_icons/magento.png" alt=""height="100px">
        <h1>Magento</h1>
            <button type="integrate" class="btn">integrate</button>  
    </div>
    <div class="box1">
        <img src="https://ship.nimbuspost.com/assets/channel_icons/magento.png" alt=""height="100px">
        <h1>Magento 2</h1>
            <button type="integrate" class="btn">integrate</button> 
    </div>
    <div class="box1">
        <img src="https://ship.nimbuspost.com/assets/channel_icons/storehippo.png" alt=""height="100px">
        <h1>StoreHippo</h1>
            <button type="integrate" class="btn">integrate</button>
        </div>
    <div class="box1">
        <img src="https://ship.nimbuspost.com/assets/channel_icons/kartrocket.png" alt=""height="100px">
        <h1>KartRocket</h1>   
            <button type="integrate" class="btn">integrate</button>
    </div>
    <div class="box1">
        <img src="https://ship.nimbuspost.com/assets/channel_icons/kwikfunnels.png" alt=""height="100px">
        <h1>KwikFunnels</h1>
            <button type="integrate" class="btn">integrate</button>
        </div>
    <div class="box1">
        <img src="https://ship.nimbuspost.com/assets/channel_icons/amazon.jpg" alt=""height="100px">
        <h1>Amazon</h1>
            <button type="integrate" class="btn">integrate</button>
        </div>
    <div class="box1">
        <img src="https://ship.nimbuspost.com/assets/channel_icons/Vinculum-logo.png" alt=""height="100px">
        <h1>Vinculum</h1>
            <button type="integrate" class="btn">integrate</button>
    </div>
    <div class="box1">
        <img src="https://ship.nimbuspost.com/assets/channel_icons/easyecom-logo.png" alt=""height="100px"width="90px">
        <h1>EasyEcom</h1>
         
            <button type="integrate" class="btn">integrate</button>
    </div>
    <div class="box1">
        <img src="https://ship.nimbuspost.com/assets/channel_icons/bigcommerce-logo.jpeg" alt=""height="100px" >
        <h1>BigCommerce</h1>
            <button type="integrate" class="btn">integrate</button>
        </div>
    <div class="box1">
        <img src="https://ship.nimbuspost.com/assets/channel_icons/opencart.png" alt=""height="100px">
        <h1>Opencart</h1>
            <button type="integrate" class="btn">integrate</button>
        </div>
    <div class="box1">
        <img src="https://ship.nimbuspost.com/assets/channel_icons/manual.jpg" alt=""height="100px">
        <h1>Manual</h1>
            <button type="integrate" class="btn">integrate</button>
    </div>
</div>
