
<h1>IVR - Automated Call Solution</h1>
<div class="ivr">
        <button type="submit" class="ivr1" >IVR madules</button>
        <button type="submit" class="ivr2" >IVR settings</button>
</div>
<br>
<ul type ="circle">
    <li>Purchase Exotel Number</li>
    <li>I have my own Exotel number</li>
</ul>

<div class="box">
    <select type="--please wait--"  class="box1" >
        <option value="--please wait--">-- please wait--</option></select>

<div class="box-2">
    <button type="submit" class="box2" >purchase</button>
   
</div>
</div>
<br>
<h3>NOTE: 1. Cost of number will deduct from your wallet (Rs. 590)<br>
    2. After submission, all existing data will be removed</h3>
