<ul type="square">
    <h1><li>Order Allocation Engine
    </li> </h1></ul>
<div class="sip1">
        <button type="Shipping Rules" class="sip" ></button>
        <button type="Rule Testing" class="sip" ></button>
    </div>
    <br>
    <p>No rules found. Add one using form give at right side.</p>
   
    <div class="box">
        <div class="box1">
            <h2>Add New Shipping Rule</h2>
            <p>rule type</p>
            <ul type ="circle">
                <li>B2C Order</li>
                <li>B2B Order</li>
            </ul>
            <hr>
            
                <div class="Rule">
            <label for="Rule name">Rule ename</label> <br>
            <input type="text"  class="Rule1">
            <label for="Set Priority"> Set Priority</label><br>
            <input type="text" class="Rule2"> 
            <hr> 
            <ul type ="disc">
                <li>Match Any of the Below</li>
                <li>Match All of the Below</li>
            </ul></div>
            <br><br>
            <div class="select">
                <div class="select1">
                    <select type="text"  >
                        <option value="select"> select</option>
                <option value="payment method">payment method </option>
                <option value="order amount">order amount</option>
                <option value="pickup pincode">pickup pincode</option>
                <option value="delivery pincode">delivery pincode</option>
                <option value="zone">zone</option>
                <option value="weight">weight</option>
                <option value="product name">product name</option>
                <option value="product SKU">product SKU</option> </select> </div>
            
                <div class="select2">
                    <select type="text"  >
                        <option value="is"> is</option>
                <option value="is not">is not </option>
                <option value="starts with">starts with</option>
                <option value="greater than">greater than</option>
                <option value="less than">less than</option></select>
                </div>
                <textarea id="" name="" rows="2" cols="50" ></textarea>
                <br><br><br>
                <div class="sel2">
                    <div class="select1">
                        <select type="text"  class="select1" >
                            <option value="select"> select</option>
                    <option value="payment method">payment method </option>
                    <option value="order amount">order amount</option>
                    <option value="pickup pincode">pickup pincode</option>
                    <option value="delivery pincode">delivery pincode</option>
                    <option value="zone">zone</option>
                    <option value="weight">weight</option>
                    <option value="product name">product name</option>
                    <option value="product SKU">product SKU</option> </select> </div>
                    <div class="select2">
                        <button type="" class=" select2" ></button>

                    </div>
                    <br><br><br>
                    <textarea id="" name="" rows="2" cols="50" ></textarea>
                    <div class="select3">
                        <div class="select1">
                            <select type="text"  class="select1" >
                                <option value="select"> select</option>
                        <option value="payment method">payment method </option>
                        <option value="order amount">order amount</option>
                        <option value="pickup pincode">pickup pincode</option>
                        <option value="delivery pincode">delivery pincode</option>
                        <option value="zone">zone</option>
                        <option value="weight">weight</option>
                        <option value="product name">product name</option>
                        <option value="product SKU">product SKU</option> </select> </div>
                        <div class="select2">
                            <button type="" class=" select2" ></button>
    
                        </div>
                        <br><br><br>
                        <textarea id="" name="" rows="2" cols="50" ></textarea>
                        <div class="select4">
                            <div class="select1">
                                <select type="text"  class="select1" >
                                    <option value="select"> select</option>
                            <option value="payment method">payment method </option>
                            <option value="order amount">order amount</option>
                            <option value="pickup pincode">pickup pincode</option>
                            <option value="delivery pincode">delivery pincode</option>
                            <option value="zone">zone</option>
                            <option value="weight">weight</option>
                            <option value="product name">product name</option>
                            <option value="product SKU">product SKU</option> </select> </div>
                            <div class="select2">
                                <button type="" class=" select2" ></button>
        
                            </div>
                            <br><br><br>
                            <textarea id="" name="" rows="2" cols="50" ></textarea>
                            <br><br> 
                 <h2>courier Priority</h2>
                 <br>
                 <div class=" courier">
                    <label for="priority1">priority1</label> <br>
            <input type="text"  class="courier1">
            <label for=" Priority2">Priority2</label><br>
            <input type="text" class="courier1"> 
            <label for="Priority3">Priority3</label> <br>
            <input type="text"  class="courier1">
            <label for="Priority4"> Priority4</label><br>
            <input type="text" class="courier1"> 
            <label for="Priority5"> Priority5</label><br>
            <input type="text" class="courier1"> 
            <label for="Priority6"> Priority6</label><br>
            <input type="text" class="courier1"> 

                 </div>


                        

                
                    
                </div>
             
            </div>
        
    

           
    

        
