<div class="container">
    <div class="showpiece"></div>
    
    <form action="" class="form-container">
        <p>Shipment Related Queries</p>
        <span>Fill the form below to raise request.</span>
        <div class="form-group AWB">
            <label for="message"><strong>AWB Numbers (Comma Separated)</strong></label>
            <textarea name="" id="message" cols="30" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="message">Select Query</label>
            <select name="" id="query">
                <option value="chooseone">choose one</option>
                <option value="proof">Proof Of Delivery</option>
                <option value="attempt">Re-Attempt</option>
            </select>
        </div>
        <div class="form-group">
            <label for="message">Remarks (Optional)</label>
            <textarea name="" id="message" cols="30" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="files">Attachments (If any)</label>
            <div class="choose">
                <input type="file">
            </div>
            <span style="font-size: 14px;">Maximum file size : 5 MB</span>
        </div>
        <div class="button" style="text-align: right;">
            <button class="btn">Submit</button>
        </div>
    </form>
</div>