<!-- <p>rto works!</p> -->

    <ul type="square">
        <h2><li>NDR</li> </h2></ul>
        
    <div class="exp">
        <button type="Export" class="e1" >Export</button>
         <button type="CSV Update" class="e1">CSV Update</button>
         <button type="Filters" class="e1">Filters</button>
         <button type="" class="a1"></button>
    </div>


<br>
<div class="ts"> 

    
    <div class="e2">
        
         <label for="from date:">from date:</label> <br>
        <input type="text" value="10|22|23-11|21|23" class="ap" >
    </div>

     <div class="e2">
        
        <label for="Order ID(s):">Order ID(s):</label><br>      
  <input type="text" id="enter order ids separated by comm" value="enter order ids separated by comm" class="ap">


     </div> 
    <div class="e2">
        
            <label for="AWB NO(s):">AWB NO(s):</label><br>
  <input type="text" id="AWB NO(s):" value="enter AWB NO(s) ids separated by comm" class="ap">

       
    
</div>



    <div class="e2">
       
            <label for="method:">method:</label><br>
  
  <select type="text" id="method" value="all" class="ap">
    <option value="All"> All</option>
    <option value="COD">COD </option>
    <option value="prepared">prepared</option>
  </select>

       
    
</div>

    <div class="e2">
        
            <label for="courier:">courier:</label><br>
  <select type="text" id="courier" value="all" class="ap">
    <option value="All"> All</option>
    <option value="amazon shopping"> amazon shopping</option>
    <option value="amazon shopping 1">amazon shopping 1</option>
    <option value="amazon shopping 10 KG">amazon shopping 10 KG</option>
    <option value="amazon shopping 2 KG">amazon shopping 2 KG</option>
    <option value="amazon shopping 20 KG">amazon shopping KG</option>
    <option value="amazon shopping 5 KG">amazon shopping 5 KG</option>
    <option value="Bluedart">Bluedart</option>
    <option value="Blue air IND">Blue air IND</option>
    <option value="Blue air IND Ras">Blue air IND RAS</option>
    <option value="Blue EXPRESS">Blue EXPRESS</option>
    <option value="Blue EXPRESS RAS">Blue EXPRESS RAS</option>
    <option value="Blue dart surface">Blue dart surface</option>
    <option value="Blue dart surface">Blue dart surface</option>
    <option value="delivery 10kg reverse">delivery 10kg reverse</option>
    
  </select>

       

    
</div>
    <div class="e7">
        
            <label for="attempts:">attempts:</label><br>
 
  <select type="text" id="attempts" value="all" class="ap">
    <option value="All"> All</option>
    <option value="attempt1">attempt1 </option>
    <option value="attempt 2">attempt 2</option>
    <option value="attempt 3">attempt 3</option>
  </select>
       
    </div>
    
    <div class="e2">
       
            <label for="channel:">channel:</label><br>
  
  <select type="text" id="channel" value="select channel" class="ap">
    <option value="select channel">select channel </option>
    <option value=" custom orders"> custom orders</option></select>



    </div>
    <br>
    
        <div class="e9">
            
                <label for="tags:">tags:</label><br>
      <input type="text" id="tags" value="tag name here" class="ap">
    
        
    </div>
    
        </div>
        <br>
        <div class="p">
            <button type="apply" class="p1" >apply</button>
             <button type="clear" class="p2"> clear</button>
        </div>
        <hr>
        <div class="PTO">
            <button type="all" class="p3">all</button>
            <button type="action required(0)" class="p3">action required(0)</button>
            <button type="action requested(0)" class="p3">action requested(0)</button>
            <button type="delivered(7)" class="p3">delivered(7)</button>
            <button type="RTO(0)" class="p4">RTO</button> 
         </div>
         <hr>
         <table>
            <th><tr>
                <input type="checkbox"> </th>
                
                <th>CHANNEL</th>
                <th>NDR DATE</th>
                <th>ORDER</th>
                <th>PRODUCT</th>
                <th>PAYMENT</th>           
                <th>CUSTOMER</th>
                <th>CARRIER</th>
                <th>STATUS</th>
               
                <th>TAGS</th>
                <th>EXCEPTION INFO</th>
                <th> Action</th>
        </table>
        <select name="50" class="e10">
            <option value="50">50</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
          </select>
          <p>No Records Found</p>
    

