<div class="channel">
    <div class="chaneelist">
        <ul style="list-style-type:square;">
           <img src="" alt=""> <li><h3>Employees </h3></li>
          </ul>
    </div>
    <div class="channelist-1">
       <a href="" class="ah"><p>+  Add New Employee</p></a>
    </div>
</div>
<div class="tab">
  <div class="tabs">
    <table id="customers">
        <tr>
            <th>NAME</th>
            <th>EMAIL</th>
           <th> ACTIVATION DATE</th>
           <th>ACTION</th>
           <th>STATUS</th>
        </tr>
        <tr>
            <td>No Records found</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
  </div>
</div>