<img class="domesic-img" src="https://www.dtinternational.in/assets/images/page-titles/1.jpg" alt="">
<div class="client-p">
    <div class="client-c">
        <div class="client-values-p">
            <div class="client-values-c">
                <h1>1 Lac+</h1>
                <p>Happy clients</p>
            </div>
            <div class="client-values-c">
                <h1>196+</h1>
                <p>Countries</p>
            </div>
            <div class="client-values-c">
                <h1>29000+</h1>
                <p>Pin Code Covered</p>
            </div>
            <div class="client-values-c">
                <h1>2M+</h1>
                <p>Transactions Every Day</p>

            </div>
            <div class="client-values-c">
                <h1>500+</h1>
                <p>Experts In Team</p>
            </div>
        </div>
    </div>
    <div class="client-c-form">
        <h1>Need Quick Assistance</h1>
        <h2>schedule a call with our expert</h2>
        <input type="text" placeholder="Enter Your Name" >
        <input type="text" placeholder="Enter Mobile Number">
        <button class="btn">Schedule Now</button>
        <p style="text-align: center;">Or Call us at <a href="">:8340932054</a> </p><br>

    </div>
</div>
<div class="steps-c">
    <h1>It's Simple,Quick And Transpernt</h1>
    <h3>Journey to progress to begins here</h3>
   
</div>
<div class="steps-p">
 
                <div class="steps-details-c">
                    
                    <p>Sign up with NimBuspost</p>
                </div>
                <div class="steps-details-c">
                    
                    <p>Complete Your Kyc</p>
                </div>
                <div class="steps-details-c">
                    
                    <p>Recharge your Account</p>
                </div>
                <div class="steps-details-c">
                    
             <p>Start shipping with us</p>
                   
            </div>
                
            </div>
            <div style="display: flex;justify-content: center;"><button type="button" class="btn btn-start your free trail">Start Your Free Trail</button>
          </div>
          <div class="steps-c">
            <h1>Why Choose Us?</h1>
            <p>NimBuspost is an advanced tech- enaled shipping plotform trusted by over 60000+ global sellers.Our offering ensure a swift shipping solution for your business requirements.</p>
        </div>
        <div class="steps-p">
 
            <div class="why-Choose-c">
                
                <h3>Grow your ecommerce business and fetch maximum profits</h3>
                <ul>
                    <li>Quick COD remittance & support</li>
                    <li>Multiple courier service options</li>
                </ul>
            </div>
            <div class="why-Choose-c">
                
                <h3>shipping experience just got better</h3>
                <ul>
                    <li>Industry's smartest shipping automation</li>
                    <li>Enhanced post-shipment experience</li>
                </ul>
            </div>
            <div class="why-Choose-c">
                
                <h3>Superior automated experience & reduced efforts</h3>
                <ul>
                    <li>AI-based order allocation engine</li>
                    <li>Plug & Play tech integration</li>
                </ul>
            </div>
            
        </div>
        <div style="display: flex;justify-content: center;"><button type="button" class="btn">Learn more</button>
        </div>
            <div class="customer-p">
                <div class="customer-c">
                    <h1>With NimbusPost’s superior
                        <i style="color: blue;">Automated Tech & AI-driven </i>
                        
                        offerings, we now ensure
                        enhanced customer service.</h1>
                    <p>Rashmi Chauhanke
                        Business Owner
                        Kaira Creations, New Delhi</p>
                </div>
                <div class="customer-c">
                    <img class="domesic-img" src="https://www.meticulosity.com/hubfs/Coforge%20Folders%20(Imported)/Imported_Blog_Media/customer-reviews-1.jpg" alt="">

                </div>
               
                
                  
                