
 
    <div class="bg">  
        <div class="create">
    <div class="forward"> 
       <div class="ward1">
      <h2>Order Information create</h2>
       </div>
       <div class="ward2">
           <button type="action" class="w1"></button>
      </div>
   </div>
   <div class="forward1">
       <div class="ward3">
       <label for="text">Order ID</label><br>
       <input type="text" placeholder="1701507615">
      </div>
      <div class="ward4">
      <label for="text">Order ID</label><br>
      <select name="" id="codpp">
       <option value="COD">Cash On Delivery</option>
       <option value="PP">Prepaid</option>
      </select>
   </div>
   </div>
   </div>
   
     <div class="bind">
   <form class="custom-form" >
       <h2>Shipping Information</h2>
       <div class="form-row">
           <div class="form-group">
               <label for="first-name">First Name</label><br>
               <input type="text" id="first-name" name="first-name" placeholder="First Name">
           </div>
           <div class="form-group">
               <label for="last-name">Last Name</label><br>
               <input type="text" id="last-name" name="last-name" placeholder="Last Name">
           </div>
           <div class="form-row1">
               <div class="form-group1">
                   <label for="company">Company Name</label><br>
                   <input type="text" id="company-name" name="company-name" placeholder="Company Name">
               </div>
               </div>
               <div class="form-row2">
                   <div class="form-group2">
                       <label for="address">Address</label><br>
                       <textarea type="text" id="address" name="address" placeholder="Address"></textarea>
                   </div>
                   <div class="form-group2">
                       
                       <label for="address2">Address 2 (Optional)</label><br>
                       <textarea type="text" id="address2" name="address2" placeholder="Address 2 (Optional)" ></textarea>
                   </div>
                   </div>
                   <div class="form-row1">
                       <div class="form-group1">
                           <label for="company">Pin Code</label><br>
                           <input type="text" id="company-name" name="pincode" placeholder="Pin Code" >
                       </div>
                       </div>
                       <div class="form-row">
                           <div class="form-group">
                               <label for="first-name">City</label><br>
                               <input type="text" id="first-name" name="city" placeholder="City">
                           </div>
                           <div class="form-group">
                               <label for="last-name">State</label><br>
                               <input type="text" id="last-name" name="state" placeholder="State">
                           </div>
                           </div>
                           <div class="form-row1">
                               <div class="form-group1">
                                   <label for="company">Phone</label><br>
                                   <input type="text" id="company-name" name="phone" placeholder="Phone">
                               </div>
                               </div>
       </div>
   
      </form>
      <form class="custom-form1">
       <h2>Billing Information</h2>
      
       <input type="checkbox"> Check this box if Shipping and Billing Information are the same.   
       <div class="form-row">
          
               <div class="form-group">
                   <label for="first-name">First Name</label><br>
                   <input type="text" id="first-name" name="first-name" placeholder="First Name">
               </div>
               <div class="form-group">
                   <label for="last-name">Last Name</label><br>
                   <input type="text" id="last-name" name="last-name" placeholder="Last Name">
               </div>
               <div class="form-row1">
                   <div class="form-group1">
                       <label for="company">Company Name</label><br>
                       <input type="text" id="company-name" name="company-name" placeholder="Company Name">
                   </div>
                   </div>
                   <div class="form-row2">
                       <div class="form-group2">
                           <label for="address">Address</label><br>
                           <textarea type="text" id="address" name="address" placeholder="Address"></textarea>
                       </div>
                       <div class="form-group2">
                           <label for="address2">Address 2 (Optional)</label><br>
                           <textarea type="text" id="address2" name="address2" placeholder="Address 2 (Optional)"></textarea>
                       </div>
                       </div>
                       <div class="form-row1">
                           <div class="form-group1">
                               <label for="company">Pin Code</label><br>
                               <input type="text" id="company-name" name="pincode" placeholder="Pin Code">
                           </div>
                           </div>
                           <div class="form-row">
                               <div class="form-group">
                                   <label for="first-name">City</label><br>
                                   <input type="text" id="first-name" name="city" placeholder="City">
                               </div>
                               <div class="form-group">
                                   <label for="last-name">State</label><br>
                                   <input type="text" id="last-name" name="state" placeholder="State">
                               </div>
                               </div>
                               <div class="form-row1">
                                   <div class="form-group1">
                                       <label for="company">Phone</label><br>
                                       <input type="text" id="company-name" name="phone" placeholder="Phone">
                                   </div>
                                   </div>
                                   <div class="form-row1">
                                       <div class="form-group1">
                                           <label for="gst">GST Number</label><br>
                                           <input type="text" id="company-name" name="phone" placeholder="GST Number">
                                       </div>
                                       </div>
           
       </div>
   
      </form>
   </div>
   
   <div class="head">
       <div class="head1">
         <table>
           <tr>
               <th> PRODUCT</th>
               <th> QUANTITY</th>
               <th> AMOUNT(RS PER QTY)</th>
               <th> SKU (OPTIONAL)</th>
               <th> ADD MORE</th>
           </tr>
           <tr>
               <th>
                   <input type="text" placeholder="Product Number" class="size">
                    </th>
               <th> <input type="text"  class="size"></th>
               <th> <input type="text" placeholder=" AMOUNT" class="size"></th>
               <th> <input type="text" placeholder="SKU" class="size"></th>
               
               <th> <button class="size1">+1</button></th>
               
           </tr>
         </table>
       </div>
   </div> 
   <div>
       <div class="comb">
       <div class="gram">
   
           <div class="weight1">
               <label for="weight" >Weight*</label>&nbsp;&nbsp;&nbsp;
               <input type="text" name="weight" id="gram1"><br>
               <div class="eg">  &nbsp;&nbsp;&nbsp;
                   <label for="eg: 500, 300" class="eg">eg: 500, 300</label>
               </div>
               </div>
               <div class="Dimensions">
                   <div class="dimen">         
                     <label for="Dimensions">Dimensions*</label>&nbsp;&nbsp;&nbsp;
                     <input type="text" placeholder="CM" class="meter">
                     <input type="text" placeholder="CM" class="meter">
                     <input type="text" placeholder="CM" class="meter">
                    </div>
                    <div class="vol">
                       <label for="Volumetric Weight">Volumetric Weight</label>&nbsp;&nbsp;&nbsp;
                       <input type="text" placeholder="0" class="vol1">&nbsp;&nbsp;&nbsp;
                       <label for="Name">Grams</label>
                    </div>
                    </div>
       </div>
       <div class="shicha">
           
           <form id="sampleForm">
      <div class="form-group">
          <label for="input1">Shipping Charges</label><br>
          <input type="text" id="input1" name="input1" required class="last">
      </div>
   
      <div class="form-group">
          <label for="input2">COD Charges</label><br>
          <input type="text" id="input2" name="input2" required class="last">
      </div>
   
      <div class="form-group">
          <label for="input3">Tax Amount</label><br>
          <input type="text" id="input3" name="input3" required class="last">
      </div>
   
      <div class="form-group">
          <label for="input4">Discount</label><br>
          <input type="text" id="input4" name="input4" required class="last">
      </div>
   
      <div class="form-group">
       <mat-slide-toggle>Collectable amount is different </mat-slide-toggle>&nbsp;&nbsp;<i class='bx bxs-error-circle'></i>
      </div>
       
      
      <button type="button" class="save">Save</button>
      <button type="button" class="cancel">Cancel</button>
   </form>
           
       
   </div>
   </div>    
   </div>