<div class="cash">
     <div class="cash1" >
        <h2><i class='bx bxs-speaker'></i>COD Order Confirmation</h2> 
     </div>
</div>
<hr>
<h2>IVR order confirmation only works for order received from channels (shopify, woocommerce etc.)</h2>
<form>
    <label for="selectOption">Status</label>
    <select id="selectOption" name="selectOption">
        <option value="option1">Disable</option>
        <option value="option2">Enable</option>
        
    </select>

    <label for="textInput">Brand name to use:</label>
    <input type="text" id="textInput" name="textInput">
    <label for="checkboxOption">Select channels to activate this service:</label>
    <div class="box"><input type="checkbox" id="checkboxOption" name="checkboxOption">Custom</div>
    <label for=""></label>
    <button type="submit">Submit</button>
</form>
