<div class="head-top" style="margin-bottom: 10px;">
   <div class="head-content">
    <label for="">Date Range:</label>
    <input type="text" autocomplete="off" data-start-data="2023-10-21" data-end-time="2023-11-20" class="Data-range">
   </div>
    <div class="button">
        <button id="btn1">Apply</button>
        <button id="btn2">Clear</button>
    </div>
</div>
<div class="container-fluid">
    <div class="cards card-1">
        <div class="card-body">
            <span class="relative"><i class='bx bxs-download'></i></span>
            <h2>20</h2>
            <p>Booked</p>
        </div>
    </div>
    <div class="cards card-2">
        <div class="card-body">
            <span class="relative"><i class='bx bxs-download'></i> </span>
            <h2>20</h2>
            <p>SHIPMENT PICKED</p>
        </div>
    </div>
    <div class="cards card-3">
        <div class="card-body">
            <span class="relative"><i class='bx bxs-download'></i></span>
            <h2>23</h2>
            <p>DELIVERED</p>
        </div>
    </div>
    <div class="cards card-4">
        <div class="card-body">
            <span class="relative"><i class='bx bxs-download'></i></span>
            <h2>0</h2>
            <p>RTO INITIATED</p>
        </div>
    </div>
    <div class="cards card-5">
        <div class="card-body">
            <span class="relative"><i class='bx bxs-download'></i></span>
            <h2>0</h2>
            <p>RTO DELIVERED</p>
        </div>
    </div>
    <div class="cards card-6">
        <div class="card-body">
            <span class="relative"><i class='bx bxs-download'></i></span>
            <h2>0</h2>
            <p>RTO Acknowledged</p>
        </div>
    </div>
</div>
<div class="note">
    <p>Note: Stats are not real time, there might be a slight delay.</p>
</div>
