<h1><i class="bi bi-file-earmark-text-fill"></i> Invoice Settings
</h1>
<hr>
<div class="invoice">
<div class="in">
<h2>Show/hide Your Company Name
</h2>
<p>Hide company Name on invoice</p>
<hr>
<h2>Set Prefix For Your Invoice No.</h2>
<p>This prefix will shown on your invoice along with the invoice number for Ex. NP001</p>
<label for=""></label> <br>
    <input type="text" value="Input prifix" class="choosefile" >
    <hr>
    <h2>Set Logo <i class="bi bi-exclamation-triangle-fill"></i> </h2>
        <!-- <form action="/action_page.php"> -->
            
            <input type="file" id="choose file" class="choosefile">
        <!-- </form> -->
        <div class="image">
            <h3>NO IMAGE</h3>
        </div>
        <h2>Set Signature <i class="bi bi-exclamation-triangle-fill"></i> 
        </h2>
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile02" style="border: 1px solid #999;">
           
          </div>
        <div class="image">
            <h3>NO IMAGE</h3>
        </div>
        <hr>
        <h2>Customize Field
        </h2>
        <p>This option enables you to add the field along with value you want to show/print on your invoice</p>
       <table>
        <tr>
            <th>COLUMN NAME</th>
            <th>VALUE</th>
            <th></th>
        </tr>
        <tr>
           <td> <input type="text"class="column" ></td>
           <td> <input type="text"class="column"></td>
           <button type="submit" class="submit">+</button>
          
        </tr>
        
           <tr>
           <td> <input type="text"class="column"></td>
           <td> <input type="text"class="column"></td>
           <button type="submit" class="delete"> <i class="bi bi-trash"></i></button>
           

           
           <tr>
            <td> <input type="text"class="column"></td>
            <td> <input type="text"class="column"></td>
            <button type="submit" class="delete"> <i class="bi bi-trash"></i></button>
            
        </tr>
        <tr>
            <td> <input type="text"class="column"></td>
            <td> <input type="text"class="column"></td>
            <button type="submit" class="delete"> <i class="bi bi-trash"></i></button>
            
        </tr>
        
       </table>
       <button type="button" class="btn">Save Changes</button>

</div>
<div class="in1">
    <img src="https://ship.nimbuspost.com/assets/img/invoice-option.jpg" alt=""height="500px" width="500px">
</div>
</div>


