<div class="container" style="margin: 10px 30px;">
    <div class="container-1">
        <h3 style="font-size: 1.4rem;">Knowledge base</h3>
         <p><a href="/">General</a></p>
    </div>
    <div class="container-2">
        <div class="box box-1" style="margin: 10px 0;">
            <p><a href="/">Getting Started (1)</a></p>
            <a href="/">How to place an Order</a>

        </div>
        <div class="box box-2"  style="margin: 10px 0;">
           <p> <a href="/">General (1)</a></p>
            <a href="/">Joprodex - Update on Coronavirus (COVID-19)</a>

        </div>
    </div>
    <div class="FAQs-container">
        <h2 style="margin: 10px 9px;">FAQs</h2>
    </div>
    <div class="shipment-container">
        <p class="head"><a href="/">Shipment Weight (6)</a></p>
        <p><i class='bx bx-book-open'></i><a href="">What is weight dispute & how to raise it?</a></p>
        <p><i class='bx bx-book-open'></i><a href="">What are the instructions to reduce weight dispute while shipping</a></p>
        <p><i class='bx bx-book-open'></i><a href="">How does I can calculate volumetric weight of my shipments?</a></p>
        <p><i class='bx bx-book-open'></i><a href="">How does I can calculate volumetric weight of my shipments?</a></p>
        <p><i class='bx bx-book-open'></i><a href="">What If I am not agree with the charged weight, How to get this resolved ?</a></p>
        <p><i class='bx bx-book-open'></i><a href="">How long does it takes to resolve my weight dispute?</a></p>
        <p><i class='bx bx-book-open'></i><a href="#">viewall</a></p>
    </div>
</div>
