 <div class="channel">
        <div class="chaneelist">
            <ul style="list-style-type:square;">
                <li>Channel List</li>
              </ul>
        </div>
        <div class="channelist-1">
           <a href="" class="ah" routerLink="/channel"><p>+ New Channel</p></a>
        </div>
    </div>
    <div class="tab">
      <div class="tabs">
        <table id="customers">
            <tr>
                <th>CHANNEL IMAGE</th>
                <th>CHANNEL NAME</th>
               <th> STORE NAME</th>
               <th>RE-AUTHORIZE</th>
               <th>ACTION</th>
            </tr>
            <tr>
                <td>No Records found</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
      </div>
</div>