<div style="padding: 100px;">

   

  
  
<form class="example-form">

  <h3>Profile</h3>
    <table class="example-full-width" cellspacing="0"><tr>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" value="{{data?.name}}" readonly>
      </mat-form-field>
    
    </tr>
    <tr>
 
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" value="{{data?.email}}" readonly>
      </mat-form-field>
      </tr>
      <tr>
 
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Mobile</mat-label>
          <input matInput type="text" value="{{data?.mobile}}" readonly>
        </mat-form-field>
        </tr>
      <tr>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>CompanyName</mat-label>
        <input matInput type="text" value="{{data?.companyname}}" readonly>
      </mat-form-field>
    </tr>

    </table>
 
  </form>
</div>