<div class="container-fluid my-5">
    <form action="">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-row">
                    <div class=" m-2">
                        <label class="control-label outline-primary">Company Name </label>
                        <input type="text" name="name" class="form-control-sm  m-1" value="">
                    </div>
                    <div class="form-group">
                        <label>Website URL </label>
                        <input type="text" name="url" class="form-control-sm m-1" value="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-2">
                        <label class="control-label">Email </label>
                        <input type="email" name="_email" class="form-control-sm m-1" value="">
                    </div>
                    <div class="form-group m-2">
                        <label class="control-label">Contact No. </label>
                        <input type="text" name="_phone" class="form-control-sm m-1" value="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-2">
                        <label class="control-label">PAN Number </label>
                        <input type="text" name="_pan" class="form-control-sm m-1" value="">
                    </div>
                    <div class="form-group m-2">
                        <label>GST Number </label>
                        <input type="text" name="_gstno" class="form-control-sm m-1" value="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-2 col-lg-9">
                        <label class="control-label">Company Address </label>
                        <textarea class="form-control-sm m-1" col="10" name="_address"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-2">
                        <label class="control-label">City </label>
                        <input type="text" name="_city" class="form-control-sm m-1" value="">
                    </div>
                    <div class="form-group m-2">
                        <label class="control-label">State </label>
                        <select name="_state" class="form-control-sm m-1 js-select2 select2-hidden-accessible" style="width: 100% !important;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                            <option value="" data-select2-id="3">Select State</option>
                            <option value="Andaman &amp; Nicobar Islands">Andaman &amp; Nicobar Islands</option>
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Dadra &amp; Nagar Haveli &amp; Daman &amp; Diu">Dadra &amp; Nagar Haveli &amp; Daman &amp; Diu</option>
                            <option value="Daman &amp; Diu">Daman &amp; Diu</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Foreign Country">Foreign Country</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu &amp; Kashmir">Jammu &amp; Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Ladakh">Ladakh</option>
                            <option value="Lakshdweep">Lakshdweep</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Other Territory">Other Territory</option>
                            <option value="Puducherry">Puducherry</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-2">
                        <label class="control-label">Pin Code </label>
                        <input type="text" name="pincode" class="form-control-sm m-1 m-1" value="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-row">
                    <div class="form-group m-2">
                        <label class="my-2">Upload Your Company Logo </label>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="inputGroupFile">
                                    <!-- <label class="input-group-text" for="inputGroupFile"  id="filesGroup">Browse</label> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-2">
                        <span class="image-box-content">
                            <img src="https://ship.nimbuspost.com/assets/seller_company_logo/dummy_img.jpg" id="logo_img" width="100" height="100">
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-2">
                        <label class="my-2">Upload Your GST </label>
                        <div class="input-group mb-3">
                            <div class="custom-file" >
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="inputGroupFile" >
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-2">
                        <span class="image-box-content">
                            <img src="https://ship.nimbuspost.com/assets/seller_company_logo/dummy_img.jpg" id="logo_img" width="100" height="100">
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-2">
                        <label class="my-2">Upload Your Signature <b> (for order invoice) </b> </label>
                        <div class="input-group mb-2">
                            <div class="custom-file" >
                                <div class="input-group mb-3" id="filesGroup">
                                    <input type="file" class="form-control" id="inputGroupFile" >
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-2">
                        <span class="image-box-content">
                            <img src="" id="signature_image" width="100" height="100">
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary m-2" >Save Changes</button>
            </div>
        </div>
        
    </form>
</div>