
<div class="main-container">
    <div class="showpiece"></div>
    <div class="container-fluid">
        <div class="header">
            <i class='bx bx-calendar-event' id="icon1"></i>
          <p>Register Here For Training Sessions</p>
          <i class="bi bi-question-square-fill" id="icon2"></i>
        </div>
        <div class="cards">
        
            <a routerLink="/resigster-slot" style="text-decoration: none;">
                <div class="card card-item card-1">
                    <div class="card-body">
                     <img src="https://ship.nimbuspost.com/assets/img/traning/traning.png" alt="">
                     <h2>Attend daily traiing session</h2>
                    </div>
                 </div>
            </a>
        
            <div class="card card-item card-2">
                <div class="card-body">
                    <img src="https://ship.nimbuspost.com/assets/img/traning/traning_sedu.png" alt="">
                <h2> I want to choose my own time slot</h2>
                </div>
            </div>
        </div>
    </div>
</div>