<div class="warehousre-container">

<img class="warehouse" src="https://wallpaperaccess.com/full/2309069.jpg" alt=""width="100%">
<div class="warehouse-p">
    <div class="warehouse-c">
    
                <h1>Stock Nearer
                    Deliver In 24 Hrs.</h1>
                <p>Store your inventory near your customers & reduce delivery timelines while increasing your profit margin</p>
            </div>
            <div class="warehouse-c-form">
                <h1>Time Is Money.Start Now.</h1>
                <div>
                    
                <label tyle="color:darkblue">Full Name</label>
               
                <input type="text" placeholder="Enter Full Name"/><br><br>
                
                </div>
                <div>
                    <label>Email</label>
                    <input type="text" placeholder="Enter Email Addres"/><br><br>
                    
                    </div>
                    <div>
                        <label>Contact Number</label>
                        <input type="text" placeholder="Enter Contact Number"/><br><br>
                        
                        </div>
                        <div>
                            <label>Monthly Orders/Shipment</label>
                            <input type="text" placeholder="Monthly Orders/Shipments"/>
                            </div>
                <div style="display:flex;justify-content:center;"><button type="button" class="btn">Submit</button>
                
            </div>
            </div>

            </div>

            <div  >
                <h1>Our WAREHOUSE are designed specially to fit YOUR BUSINESS NEEDS</h1>
                
            </div>
            
            <div class="warehouse-needs-p">
        
                    
              <div class="warehouse-needs">
                
                <p>
                    30% Reduced Shipping Costs
                </p>
              </div>
              <div class="warehouse-needs">
                <p>
                    Same Day*, Next Day Delivery
                </p>
              </div>
              <div class="warehouse-needs">
                <p>
                    Reduce Delivery Time by up to 30-50%
                </p>
              </div>
              <div class="warehouse-needs">
                <p>
                    Stock Worldwide
                </p>
              </div>
              <div class="warehouse-needs">
                <p>
                    Reduce Returns
                    by 10-20%
                </p>
              </div>
            </div>
              
              <p>
                Give your customers an excellent delivery experience with NimbusPost’s tech-enabled fulfilment solutions. Leverage the latest technology, high-end infrastructure, and spacious warehouses to carry out your inventory and logistics
functions seamlessly.<br>Send in your inventory to our worldwide fulfilment centres, and get orders shipped in no time.
              </p>

            </div>
            <div style="display:flex;justify-content:center;"><button type="button" class="btn">StartNow</button>
                </div>
                <div>
                    <h1 style="text-align: center;">
                        How Our Tech-Enabled Fulfilment Platform Works
                    </h1>
                </div>
                <div class="warehouse-fulfillments-p">
                    
                    <div class="warehouse-fulfillments">
                       
                     <p>Transport inventory to our warehouse</p>
                      </div>
                         <div class="warehouse-fulfillments">
                            
                            <p>We will run a quality check & segregate</p>
                             </div>
                             <div class="warehouse-fulfillments">
                                
                                <p>Live inventory will be updated</p>
                                 </div>
                                 
                                 <div class="warehouse-fulfillments">
                                   
                                    <p>We promise a 99.9% SLA commitment</p>
                                     </div>
                                     
                                 <div class="warehouse-fulfillments">
                                    
                                    <p>Parcels will be packed and labelled</p>
                                     </div>
                                    
                                     <div class="warehouse-fulfillments">
                                       
                                        <p>Orders will be shipped with real-time update</p>
                                         </div>
                                        </div>
                                        <div style="display:flex;justify-content:center;"><button type="button" class="btn">StartNow</button>
                                        </div>
                                        <div>
                                            <h1 style="text-align: center;">
                                                One-Stop Solution
                                            </h1>
                                            <p style="text-align: center;">With our strategic partnership with XpressBees, we offer you the most streamlined fulfilment journey.</p>
                                        </div>
                                        <div class="warehouse-journey-p">

                                        
                                        <div class="warehouse-journey">
                     
                                            <h1>Manpower</h1>
                                            <p>We manage your comprehensive fulfilment requirements by hiring manpower and training them for efficient product handling and order management.</p>
                                             </div>
                                             <div class="warehouse-journey">
                     
                                                <h1>Warehouse</h1>
                                                <p>We store your inventory in high-quality warehouses that are certified by Amazon Flex/Flipkart Smartbuy for reduced in-transit damage, and smooth processing of orders.</p>
                                                 </div>
                                                 <div class="warehouse-journey">
                                                    <h1>Last-Mile</h1>
                                                    <p>By storing your inventory near to your customers, we help you deliver in 1 day, reducing your delivery timelines and shipping costs by almost up to 50%.</p>
                                                     </div>
                                                     <div>
                                                        <h1 style="text-align: center;">What Happens When It’s All Synced Together?</h1>
                                                     </div>
                                                    </div>
                                                    
                                                    <div class="warehouse-plotform-works-p">    
                                                      <div class="warehouse-plotfom-works">
                                                        
                                                        <p>
                                                            Centralized Data/Information
                                                        </p>
                                                      </div>
                                                      <div class="warehouse-plotfom-works">
                                                        <p>
                                                            Absolute Visibility into
                                                            Supply Chain
                                                        </p>
                                                      </div>
                                                      <div class="warehouse-plotfom-works">
                                                        <p>
                                                            Automated Status Update
                                                        </p>
                                                      </div>
                                                      <div class="warehouse-plotfom-works">
                                                        <p>
                                                            99.9% SLA compliant services
                                                        </p>
                                                      </div>
                                                      </div>
                                                    
                                                      
                                                    
                                                    
                
                
            
            