<div class="container">
    <p style="font-size: 1.5rem; margin: 0;"><i class='bx bx-support' id="support"></i>Joprpodex Post</p>
    <div class="buttons">
       <div class="greet" style="text-align: end; margin: 5px 9px;"><span>welcome</span></div>
       <div class="btns">
        <button class="btn">Login</button>
        <button class="btn btn-2">Signup</button>
       </div>
    </div>
</div>
<!-- <nav>
    <ul class="nav nav-links">
        <li class="nav-path"><a href="/">Home</a></li>
        <li class="nav-path"><a href="/">Solutions</a></li>
    </ul>
</nav> -->
<mat-tab-group fitInkBarToContent>
    <mat-tab label="Home">
        <div class="search-container">
            <h3 style="margin: 0; font-size: 1.3rem; color: #555;">How can we help you today?</h3>
            <div class="input-field" style="position: relative;">
                <input type="search" value="" placeholder="Enter your search term here..."><i class='bx bx-search'></i>
            </div>
            <div class="span">
                <span style="margin: 0 10px;"> <i class='bx bxs-plus-square'></i> New Support Ticket</span>
                <span><i class="bi bi-activity"></i> Check Ticket Status</span>
            </div>
        </div>
        <app-post-home></app-post-home>
    </mat-tab>
    <mat-tab label="Solutions"><app-post-home></app-post-home></mat-tab>
  </mat-tab-group>


<app-post-home></app-post-home>


<footer>
    <ul class="nav nav-links" >
        <div class="left"  style="display: flex;">
            <li class="nav-path"><a href="/" style="color: #fff;">Home</a></li>
            <li class="nav-path"><a href="/" style="color: #fff;">Solutions</a></li>
        </div>
        <li class="nav-path"><a href="/" style="color: #fff;">Cookie Policy</a></li>
    </ul>
    <p >Help Desk Software <span style="color: #fff; margin: 0 5px;">by Freshdesk</span><p>
</footer>

  


