<!-- <div class="container">
    <div class="leftpannel">
            <h4>Tracking Button Settings</h4>
            <p>Customise the order tracking button as per your choice for a better brand recall value and enhanced customer experience.</p>
            <div class="form-row">
                <div class="">
                    <label class="form-label fw-400">Button Background Colour</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control rounded-pill" id="button_backgroud_color" data-toggle="tooltip" title="" required="" placeholder="Choose a colour using the colour picker" data-original-title="">
                </div>
                <div class="form-group">
                    <div class="tag-input">
                        <label class="form-label" for="color">
                            <input type="color"  id="color" data-id="button" value="#000000" required="">
                            <span>Pick Colour </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="">
                    <label class="form-label fw-400">Button Text Colour</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control rounded-pill" id="button_backgroud_color" data-toggle="tooltip" title="" required="" placeholder="Choose a colour using the colour picker" data-original-title="">
                </div>
                <div class="form-group">
                    <div class="tag-input">
                        <label class="form-label" for="color">
                            <input type="color"  id="color" data-id="button" value="#000000" required="">
                            <span>Pick Colour </span>
                        </label>
                    </div>
                </div>
            </div>
    </div>
    <div class="rightpannel">
        <h3>Tracking Button Preview</h3>
        <button type="button" class="btn rounded-pill btn-dark"><i class='bx bx-map'></i> Track</button>
    </div>
</div> -->
<div class="container">
    <h4 style="margin: 0; font-size: 18px;">Track Your Order</h4>
    <div class="form-group" style="margin: 5px 0;">
        <input type="text" data-toggle="tooltip" title="" class="form-control" id="input_search" placeholder="Enter AWB No." data-original-title="">
    </div>
    <button type="button" class="btn  btn-primary "> Submit</button>
</div>
