<div class="container">
    <div class="intro-parent">
        <div class="intro-child">
           <h1 class="headline-1">One dashboard for all of your shipping requirements</h1> 
           <h2 class="headline-2">The most dependable shipping gateway in India offers your organization the opportunity for worldwide expansion and a flawless shipping experience.</h2>
 <br>  <button mat-raised-button color="warn">more</button>        
</div>
        <div class="intro-child">
            <img src="https://png.pngtree.com/thumb_back/fh260/background/20220607/pngtree-food-delivery-courier-fast-service-image_1405371.jpg" alt="" width="400px" height="300px" style="border-radius: 20px;">
        </div>
      
    </div>
</div>
<div class="integarations">
  <img src="https://www.clickpost.ai/hubfs/featured%20images/Updated%20blog%20banner%20images%20Mar%2022/Shipping-or-Courier-APIs-for-eCommerce-Business.webp" width="100%" alt="">
</div>
<div class="services-p">
    <div class="services-c">
        <img src="https://cdn.dribbble.com/userupload/8277343/file/original-a82c8449c2211253c6bf9d733e3a4429.jpg?resize=400x0" alt="" width="300px" height="300px" style="border-radius: 20px;">
    </div>
    <div class="services-c">
        <h2 class="headline-2">Simplified way</h2>
        <p class="paragraph-1">With just one account, you may utilize a strong courier network and broaden your reach internationally with immediate access to pre-negotiated rates & services.</p>
        <ul class="paragraph-1">
            <li>15+ Courier services</li>
            <li>15,000+ Pincodes covered nation-wide</li>
            <li>All over world served </li>
        </ul>

    </div>
</div>
<div class="our-partners">
    <h1>AI powered shipping</h1>
    <div class="our-partners-p">
        <div class="our-partners-c">
            <img src="https://itl-website-aws.s3.ap-south-1.amazonaws.com/manage/assets/images/features-pincode-compare-select-banner.png" alt="" width="400px" >
        </div>
      
 
    <div class="our-partners-c">
      <p class="paragraph-1">Use our AI-powered Smart Shipping Solution or create unique automation rules for your chosen carriers. Ship with assurance each and every time.
      </p>
      </div>
      
</div>
</div>

    <br>
    
        
  <div class="footer-container">

    <div class="footer-parent">
      <div class="footer-child">
        <img routerLink="/web"
        class="logo"
        src="./assets/jop-logo.png"
        alt="logo"/>
        
       <p class="para">Joprodex Limited's Corporate Identification Number is (CIN) U74999HR2018PLC075345 and its registration number is 75345.Its Email address is scjoshi07@gmail.com</p>
        <div class="container1">
          
          <a href="" target="_blank"><img src="./assets/facebook.png"
            alt="" width="30px" height="30px" class="links-social" /></a>
        <a href="" alt="http://www.instagram.com" target="_blank"><img
            src="./assets/instagram.png" alt="facbook" width="30px" height="30px" class="links-social" /></a>
        <a href="" target="_blank"><img
            src="./assets/linkedin.png" alt="linkedin" width="30px" height="30px" class="links-social" /></a>
        <a href="" target="_blank"><img src="./assets/twitter.png" target="_blank"
            alt="twitter" width="30px" height="30px" class="links-social" /></a>
      <a href="" target="_blank"><img src="./assets/youtube.png" target="_blank"
            alt="twitter" width="30px" height="30px" class="links-social" /></a>
        </div>
      </div>
      <div class="footer-child">
        <h3 style="
            color: white;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
          ">
          Important Links
        </h3>
        <a style="
            color: white;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " routerLink="/about-us">Home</a><br />
        <a style="
            color: white;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " routerLink="/careers">
         Domestic</a><br />
        <a style="
            color: white;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " routerLink="/services">International</a><br />
        <a style="
            color: white;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " routerLink="/contact">Contact</a><br />
     
      </div>
      <div class="footer-child">
        <h3 style="
            color: white;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
          ">
        Languages
        </h3>
        <a style="
            color: white;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " >Telugu</a><br />
  
        <a style="
            color: white;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          ">Tamil</a><br />
        <a style="
            color: white;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " >Hindi</a><br />
        <a style="
            color: white;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " >Chinese</a><br />
        <a style="
            color: white;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " >French</a><br />
        <a style="
            color: white;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " >Urdu</a>
      </div>
     
    
    <div class="footer-child">
        <h3 style="
            color: white;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
          ">
          Contact Us
        </h3>
        
          <p style="
          color: white;font-size: 15px;

          font-family: 'Poppins', sans-serif;
          text-decoration: none;
        ">
        <mat-icon style="color: white;"> business</mat-icon>
 C3G5+74J, Baani Square, Sector 50, Gurugram, Haryana 122018</p>
     
      </div>
  
  
  </div>